@import url(//fonts.googleapis.com/css?family=Montserrat);

html, input, select{
  background-color: #0d142c;
  color: #fff;
}

body{
  font-family: 'Montserrat';
}

.main-container{  
  background-color: #0d142c;
  color: #fff;
  text-align: center;
}

.box-container{
  min-height: 85vh;
}

.navigation-menu-conatiner{
  width: 100%;
  padding: 5px 0px 5px 0px;
  background-color: #112942;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navigation-menu{
  display: flex;
  width: 80%;
  margin: auto;
}

.navigation-menu ul{
  padding-left: 0px;
}

.navigation-menu ul li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.navigation-menu li a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.navbar-responsive{
  display: none;
}

.active, .style-color-heading, .currency-symbol{
  color: #F5E43E;
}

.main-heading{
  font-size: 45px;
  margin: 0;
  padding: 100px 0px 100px 0px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 600;
}

.coins-list-container, .general-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 50px;
}

.coins-list-container{
  min-height: 80vh;
}

.coins-items-container li{
  list-style-type: none;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.btn-more{
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50px;
  background: #F5E43E;
  font-size: 25px;
}

.hover-element:hover{
  background: #fff;
  border: 3px solid #F5E43E;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn-collapsible{
  padding: 10px 50px;
  background: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.coin-item{
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 10px 0px 10px 0px;
}

.short-name-coin{
  min-width: 10%;
  text-align: left;
  text-transform: uppercase;
}

.name-coin{
  min-width: 40%;
  text-align: left;
}

.price-coin{
  min-width: 20%;
  text-align: left;
}

.percentage-change-coin{
  font-weight: 700;
  width: 30%;
}

.search-form{
  display: flex;
  align-items: stretch;
  padding: 20px 0px 20px 0px;
}

.search-input{
  width: 100%;
  color: #fff;
  border: 0px;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

.search-input::placeholder{
  color: #F5E43E;
  text-transform: uppercase;
}

.search-button{
   background-color: #F5E43E;
   padding: 10px 30px 10px 30px;
   font-weight: 700;
   text-transform: uppercase;
   border: 3px solid #fff;
   color: #0d142c;
}


footer{
  height: 50px;
  background-color: #112942;
  margin: 0 auto;
  padding: 20px;
}

.footer-container{
  width: 80%;
  margin: 0 auto;
}

.footer-container .signature{
  text-align: right;
}

.footer-container a{
  text-decoration: none;
  color: #F5E43E;
  font-size: 14px;
}

/* Page detail coin */

.loading-window{
 /* min-height: 80vh; */
  font-size: 35px;
}

.page-detail-coin-container{
  width: 80%;
  margin: 0 auto;
  margin-top: 55px;
  text-align: left;
}

.left-column{
  width: 50%;
}

.right-column{
  width: 50%;
}

.spacing-top{
  margin-top: 140px;
}

.spacing-top-25{
  margin-top: 25px;
}

.first-row{
  display: flex;
}

.second-row{
  display: flex;
}

.row-other{
  margin-top: 55px;
}

.page-detail-coin-container h1{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.coin-heading{
  font-size: 55px;
  color: #F5E43E;
}

.sub-heading{
  font-size: 15px;
  color: #F5E43E;
}

.section-sub-heading{
  font-size: 25px;
  color: #F5E43E;
}

.img-coin img{
  max-width: 25px;
  padding-right: 20px;
}

.info-background{
  display: inline-block;
  background-color: #112942;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  min-width: 115px;
  text-align: center;
}

.rank-coin{
  font-weight: 700;
  margin-left: 15px;
}

.page-detail-price-coin{
  width: auto;
  font-size: 50px;
}

.page-detail-market-cap{
  font-size: 25px;
}

.sub-btn{
  padding: 5px 15px;
  margin-bottom: 30px;
  background-color: #F5E43E;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #F5E43E;
  border-radius: 15px;
}

.sub-btn:hover{
  cursor: pointer;
  background-color: #0d142c;
  color: #F5E43E;
  border: 1px solid #F5E43E;
  transition: 0.5s;
}

.img-coin-detail img{
  margin: 10px 0px 10px 0px;
  max-width: 55px;
}

/* Table change */

.change-table table td:nth-child(2){
  padding-left: 40px;
}

/* Other items */

.other-items-conatiner{
  display: flex;
  gap: 10px;
  margin-bottom: 150px;
}

.other-item{
  background-color: #112942;
  padding: 35px 15px 15px 15px;
  border-radius: 15px;
  min-width: 200px;
  min-height: 200px;
}

.other-items-conatiner .other-name-coin{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0px 10px 0px;
}

.other-items-conatiner .coin-detail-btn{
  margin-left: 0px;
}

.other-items-sub-heading{
  color: #F5E43E;
}

.other-items-conatiner img{
  width: 25px;
}

.flex-style-row{
  display: flex;
}

@media (max-width: 879px){
  .flex-style-row{
    flex-direction: column;
  }
}

.calculator-container{
  position: relative;
  width: 80%;
  display: flex;
  align-items: stretch;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.flex-box-style{
  width: 80%;
  display: flex;
}

.field-calculator-input{
  cursor: pointer;
  border: 1px solid #fff; 
  color: #F5E43E;
  padding: 20px 0px 20px 10px;
}

.select-item{
  cursor: pointer;
  border: 1px solid #fff;
  padding: 5px;
  margin: 10px;
  background-color: #112942;
 
}

.field-wrap{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.field-wrap:nth-child(2){
  margin-left: 30px;
}

.field-wrap select::-webkit-scrollbar {
    width: 10px;
  }

  .field-wrap select::-webkit-scrollbar-thumb {
    background: #F5E43E; 
    border-radius: 10px;
  }

.label-text{
  text-align: left;
  padding: 0px 0px 10px 0px;
}

.vertical-center{
  position: relative;
  width: 100px;
}

.vertical-center span{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 41%;
  font-size: 30px;
}

.submit-btn{
  background-color: #F5E43E;
  color: #0d142c;
  border: 1px solid #F5E43E;
  padding: 0px 30px 0px 30px;
  margin: 30px 0px 0px 20px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}

.submit-btn:hover{
  background-color: #fff;
  color: #0d142c;
  border: 1px solid #F5E43E;
  cursor: pointer;
}

.result-div{
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
  font-size: 30px;
}

.result-amount-style{
  font-size: 45px;
  padding: 10px 0px 0px 0px;
  color: #F5E43E;
  text-align: left;
}

.result-div span{
  text-align: left;
}

.coin-detail-btn{
  padding: 2px 10px;
  margin-left: 20px;
  background-color: #F5E43E;
  text-transform: uppercase;
  font-weight: 700;
  border: 0px;
}

.coin-detail-btn:hover{
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
} 

/* Queries */

@media (max-width: 1440px){
  .other-items-conatiner{
    flex-direction: column;
  }
}

@media (max-width: 1024px){
.navigation-menu{
  width: 100%;
}

  .navigation-menu li{
    font-size: 14px;
  }

  .flex-style-row{
    flex-direction: column;
  }

  .main-heading{
    font-size: 20px;
  }

  .field-wrap:nth-child(2){
    margin-left: 0px;
    margin-top: 10px;
  }

  .submit-btn{
    margin: 30px 0px 0px 0px;
    padding: 20px 30px 20px 30px;
  }

  .navbar-desktop{
    display: none;
  /*  position: absolute;
    top: 90px; */
  }

  .navbar-responsive{
    display: block;
    min-height: 40px;
  }

  .navigation-menu ul li {
    padding-right: 20px;
}

  .menu-icon, .menu-icon-close{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0;
    top: 10px;
    padding-right: 20px;
    cursor: pointer;
  }

  .navigation-menu ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0;
    width: 100%;
    min-height: 65px;
    background-color: #112942;
    margin: 0;
    padding: 10px 0px 10px 0px;
    border-top: 0.5px solid #fff;
    justify-content: space-around;
    transition: 1s;
  }

}

@media (max-width: 744px){
  .coin-item{
    flex-direction: column;
  }

  .coins-items-container{
    text-align: left;
  }

  .name-coin{
    font-size: 30px;
  }

  .price-coin{
    font-size: 20px;
  }

  .coin-detail-btn{
    margin-left: 0px;
  }

  .first-row, .second-row{
    flex-direction: column;
  }

  .spacing-top{
    margin-top: 40px;
  }
  
  .left-column{
    width: 100%;
  }

  .right-column{
    width: 100%;
  }

}